<h2>Add User: </h2>
<form [formGroup] = "userform" (ngSubmit) = "sendData()">
  <div>
    <label for="username"></label>
    <input type="text" name="username" id="username" class="form-control" formControlName = "username" required>
    <div *ngIf="!userform.controls.username.valid" class="alert alert-danger">
      Please add username
    </div> 
  </div>
  <div>
    <label for="email"></label>
    <input type="text" name="email" id="email" class="form-control" formControlName = "email" required>
    <div *ngIf="!userform.controls.email.valid" class="alert alert-danger">
      Please add username
    </div> 
  </div>
  <br>
  <input type="submit" value="Add user" class="btn btn-primary" [disabled]="!userform.valid" >
</form>

